.navbar__container {
  height: 70px;
  flex-shrink: 0;
  fill: #fff;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
  padding-inline: 2rem;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  z-index: 2;
}
.navbar__content {
  width: 100%;
  max-width: var(--app-width);
  margin: auto;
}