:root {
  --app-width: 650px;
  --grey-500: #797488;
  --grey-800: #222;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Poppins', sans-serif;
}

